.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  background-image: url("../../../images/background.webp");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    max-width: 450px;
    width: 100%;
    background: aliceblue;
    border-radius: 20px;
    padding: 20px;
  }
  .auth__top {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    p {
      font-size: 20px;
    }
  }
  .link {
    display: block;
    text-align: right;
  }
}
